<!DOCTYPE html>
<html lang="en">
    <%- include("./partial/head.ejs") %>
<body>
    <%- include("./partial/nav.ejs") %>
    <h1>New Book Form</h1>
    <form action="/books" method="POST">
        Title: <input type="text" name="title"><br>
        Author: <input type="text" name="author"><br>
        Completed: <input type="checkbox" name="completed"><br>
        <input type="submit" value="Add book to the list">
    </form>
</body>
</html>